<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>addExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>extention.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>kokomap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA28FA471B67AD53005480C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA28FA631B67B055005480C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA6D79231B46D2BE001FF422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAFBFEDD1B42C6B200FAAD05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAFBFEF21B42C6B200FAAD05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
